.header {
  position: fixed;
  z-index: 50;
  top: 3rem;
  left: 50%;
  width: 75rem;
  transform: translateX(-50%);
  border-radius: var(--p-radius);
  @media (max-width: 49em) {
    top: 1rem;
    width: 98%;
  }
}

.container {
  position: relative;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;

  @media (max-width: 49em) {
    padding: 0 2.5rem;
    height: 10rem;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  svg {
    width: 14rem;
    @media (max-width: 49em) {
      width: 24rem;
    }
  }
}

[data-show-menu='true'] .menuBtn {
  rect:first-child {
    transform: translate(45%, -22%) rotate(45deg);
  }
  rect:last-child {
    transform: translate(-10%, 40%) rotate(-45deg);
  }
}

.menuBtn svg,
.cart svg {
  width: 3rem;
  height: 3rem;

  @media (max-width: 49em) {
    width: 5rem;
    height: 5rem;
  }

  path,
  rect {
    transition: fill var(--p-tr), transform var(--p-tr),
      transform-origin var(--p-tr);
  }

  @media (any-hover: hover) {
    &:hover {
      path,
      rect {
        fill: var(--c-accent);
      }
    }
  }
}
